{% extends 'base/base.html' %}

{% block content %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="title navbar-brand js-scroll-trigger" href="#page-top"><b class="title">PyPereira</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Organizadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Reuniones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="header-content">
      <div class="header-content-inner">
        <div class="row">
          <div class="col-lg-6 col-xs-12">
            <img src="{{ url_for('static', filename='img/python-pereira.svg') }}" alt="Logo" class="logo">
          </div>
          <div class="col-lg-6 col-xs-12">
            <h1 id="homeHeading" class="title">Comunidad Python Pereira</h1>
            <hr>
            {% if proximos %}
            <h3 class="convert-emoji">:tada: PRÓXIMOS EVENTOS :boom:</h3>
            <ul>
              {% for proximo in proximos %}
              <li class="convert-emoji">{{ proximo.nombre }} (:calendar: {{ proximo.fecha }})</li>
              {% endfor %}
            </ul>
            {% else %}
            <h3 class="convert-emoji">:tada: NO HAY EVENTOS PROGRAMADOS :boom:</h3>
            <p class="convert-emoji">
              Welcome to this Emoji One :snail: demo! 😄 I hope you like what we've put together here for you. :thumbsup: :smile:
            </p>
            {% endif %}
            <a class="btn btn-primary btn-xl js-scroll-trigger convert-emoji" href="#portfolio">Más información :point_down:</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white convert-emoji">Sobre <b class="title">PyPereira</b> :snake::computer:</h2>
          <hr class="light">
          <p class="text-faded">Comunidad creada con el objetivo de reunir a los usuarios desarrolladores y apasionados por Python y sus derivados, con el
          fin de crear y fortalecer una red de conocimiento que ayude con el progreso de la región.</p>
          <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading convert-emoji">Equipo Organizador :muscle:</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for organizador in organizadores %}
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <!-- <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i> -->
            {% if organizador.foto %}
            <img src="{{ url_for('static', filename='img/perfil/' + organizador.foto) }}" class="profile"   alt="{{ organizador.name }}">
            {% else %}
            <img src="{{ url_for('static', filename='img/perfil/profile.jpg') }}" class="profile" alt="{{ organizador.name }}">
            {% endif %}
            <h3>{{ organizador.nombre }}</h3>
            <p class="text-muted">{{ organizador.ocupacion }}</p>
            <div class="row">
              {% if organizador.github %}
              <div class="col-lg-3 col-md-3 col-xs-3 col-xs-3 text-center">
                <a href="http://github.com/{{ organizador.github }}" target="blank_"><i class="fa fa-2x fa-github text-primary sr-icons"></i></a>
              </div>
              {% endif %}
              {% if organizador.twitter %}
              <div class="col-lg-3 col-md-3 col-xs-3 col-xs-3 text-center">
                <a href="http://twitter.com/{{ organizador.twitter }}" target="blank_"><i class="fa fa-2x fa-twitter text-primary sr-icons"></i></a>
              </div>
              {% endif %}
              {% if organizador.facebook %}
              <div class="col-lg-3 col-md-3 col-xs-3 col-xs-3 text-center">
                <a href="http://facebook.com/{{ organizador.facebook }}" target="blank_"><i class="fa fa-2x fa-facebook text-primary sr-icons"></i></a>
              </div>
              {% endif %}
              {% if organizador.email %}
              <div class="col-lg-3 col-md-3 col-xs-3 col-xs-3 text-center">
                <a href="mailto:{{ organizador.email }}" target="blank_"><i class="fa fa-2x fa-envelope text-primary sr-icons"></i></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <img src="{{ url_for('static', filename='img/perfil/profile.jpg') }}" class="profile" alt="">
            <h3>¡Quiero colaborar!</h3>
            <i class="fa fa-2x fa-heart text-primary sr-icons"></i>
            <p class="text-muted">Puedes ser parte de esta gran iniciativa</p>
            <a type="submit" class="btn btn-xl btn-org js-scroll-trigger convert-emoji" href="#contact">:email: Enviar Mensaje.</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>¡Nuestras Reuniones!</h2>
        <hr />
      </div>
    </div>
    <div class="container-fluid">
      <div class="row no-gutter">
        {% if proximos %}
        {% for proximo in proximos %}
        <div class="col-lg-4 col-sm-6">
          <div class="portfolio-box">
            <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/1.jpg') }}" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <h2 class="convert-emoji">:tada:PRÓXIMA REUNIÓN</h2>
                <div class="project-category text-faded convert-emoji">
                  {{ proximo.nombre }}
                </div>
                <div class="project-name">
                  {{ proximo.resumen }}
                </div>
                <p class="convert-emoji">:calendar: {{ proximo.fecha }} :clock3: {{ proximo.hora }}</p>
                <button type="button" class="btn btn-md" data-toggle="modal" data-target="#{{ proximo.id }}">Más Información</button>

               
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="{{ proximo.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title convert-emoji" id="exampleModalLabel">{{ proximo.nombre }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="{{ url_for('static', filename='img/meetup/' + proximo.id + '/' + proximo.flyer) }}" style="max-width: 100%;" alt="">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a type="button" class="btn btn-primary" href="{{ proximo.url_reservas }}" target="blank_">Inscripción</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}

        {% endif %}
        {% if proximos %} 
        {% for anterior in anteriores %}
        <div class="col-lg-4 col-sm-6">
          <div class="portfolio-box">
            <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/1.jpg') }}" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  {{ anterior.nombre }}
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
        {% endif %}
      </div>
    </div>
  </section>

  <div class="call-to-action bg-dark">
    <div class="container text-center">
      <a class="btn btn-default btn-xl sr-button" href="/eventos">Ver todo</a>
    </div>
  </div>

{% endblock %}